@font-face {
  font-family: "iransanss";
  src: url("./fonts/ir_sans.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "iransanss-light";
  src: url("./fonts/ir_sans_light.ttf");
  font-weight: lighter;
}

html {
  direction: rtl;
}
body {
  font-family: iransanss;
}
